<p><%= form.text_field :custom_start_date, :size => 10, label: t(:project_start_date) %><%= calendar_for('project_custom_start_date') %></p>
<p><%= form.text_field :custom_end_date, :size => 10, label: t(:project_end_date) %><%= calendar_for('project_custom_end_date') %></p>
